body {
height: 100vh;
margin: 0;
background-image: linear-gradient(45deg, #f1c8c9, #a3aed0);
}

.layout {
    background-image: linear-gradient(45deg, #f1c8c9, #a3aed0);
    /* background-color: #f1c8c9; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.container {
    display: grid;
    grid-template: repeat(60, minmax(auto, auto)) / repeat(60, minmax(auto, auto));
    width: 800px;
    height: 800px;
}

.boxes {
    border: 1px solid gray;
    background-color: white;
}

.boxes-black-fill {
    background-color: black;
}

h4, p {
    margin: 0px;
    flex: 1;

}

.input {
    flex: 1;

}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 8px;
    padding: 8px;
}