.container {
    display: grid;
    grid-template: repeat(80, minmax(auto, auto)) / repeat(80, minmax(auto, auto));
    width: 400px;
    height: 400px;
}

.boxes {
    border: 1px solid gray;
}

.boxes-black-fill {
    background-color: black;
}